.mainContainer {
  width: 100%;
  min-height: 90vh;
  background-color: var(--white);
  flex-wrap: wrap;
  padding: 5rem;
}

.sidebar {
  position: sticky;
  top: 0;
  max-height: 90vh;
  overflow-y: auto;
}

.contentArea {
  flex: 1;
  min-width: 300px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .mainContainer {
    flex-direction: column;
    padding: 10px;
  }

  .contentArea {
    width: 100%;
  }
}
