#container {
  width: 100%;
  border: 1px solid #757a91;
  background-color: #fff;
  border-radius: 10px;

  #publish {
    border-bottom: 1px solid #757a91;
    padding: 10px;
  }

  h6 {
    margin: 0;
    color: #757a91;
  }

  #textArea {
    position: relative;
  }

  .icon {
    font-size: 20px;
    color: #757a91;
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 10px;
  }

  textarea {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 3.5rem;
    border-bottom: 1px solid #757a91;
  }

  #btn {
    padding: 10px;
    background-color: #f7f7f7;
    border: 0;
    margin-bottom: 10px;
    border-radius: 15px;
    color: #757a91;
    font-weight: 600;
  }

  input {
    display: none;
  }
}
