#body {
  flex-grow: 1;
  border-radius: 10px;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
  }

  .exitIcon {
    cursor: pointer;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border: 0;
    outline: 0;
    background-color: var(--yellow);
    border-radius: 10px;
    color: #fff;
  }

  .icon {
    font-size: 20px;
    color: #fff;
  }
}
