#body {
  height: 90%;
  background-color: var(--white);

  .sidebar {
    position: sticky;
    top: 0;
    align-self: flex-start;
    height: fit-content;
    z-index: 2;

    @media screen and (max-width: 767px) {
      width: 100%;
      position: relative;
    }
  }
}

#container {
  @media screen and (max-width: 576px) {
    flex-direction: column !important;
  }
}
