nav {
  height: 100%;

  a {
    font-size: 1.5rem;
    color: #999999;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 5px;
    transition: 300ms linear;

    &:hover {
      background-color: var(--blue);
      color: #fff;
    }
  }

  .activeLink {
    background-color: var(--blue);
  }
}
