#parnet {
  width: 300px;
  height: 100%;
  background-color: var(--white);
  border: 1px solid #757a91;

  header {
    padding-bottom: 1rem;
    background-color: transparent;

    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
    }

    h5 {
      font-size: 15px;
      margin: 0;
      font-weight: 700;
    }
  }

  .exitIcon {
    color: #999999;
    font-size: 1.2rem;
  }

  .chatContainer {
    height: 1vh;
    flex-grow: 1;
    overflow: auto;
  }
}
