#parnet {
  header {
    background-color: var(--white);
    border: 1px solid #757a91;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    h5 {
      margin: 0;
    }
  }

  #chat {
    width: 100%;
    height: 1vh;
    overflow: auto;
    flex-grow: 1;
  }

  #msgs {
    p {
      font-weight: 600;
      margin: 0;
    }
    .myMsg {
      color: #fff;
      margin-top: 1rem;
      border-radius: 16px 16px 0 16px;
      padding: 1rem;
      background-color: var(--blue);
      justify-self: flex-end;
    }

    .otherMsg {
      color: #757a91;
      margin-top: 1rem;
      border-radius: 16px 16px 16px 0px;
      padding: 1rem;
      background-color: var(--white);
      justify-self: flex-start;
    }
  }

  #footer {
    background-color: var(--white);

    textArea {
      resize: none;
      flex-grow: 1;
      padding: 1.5rem 0 0 2rem;
      border-radius: 15px;
      border: 0;
      outline: 0;
      transition: 300ms linear;

      &:focus {
        box-sizing: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
        border-color: #e3e3e3;
      }
    }

    .icon {
      position: absolute;
      font-size: 1.5rem;
      top: 22px;
      cursor: pointer;
      left: 0;
    }

    button {
      border: 0;
      height: max-content;
      transition: 300ms linear;
      background-color: transparent;

      &:hover {
        color: var(--yellow);
      }
    }
  }
}
